<!DOCTYPE html>
<html>
  <head>
    <title>Web 安全演示</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <span id="home">security demo</span>
      <input type="text" name="searchKey" id="search" autocomplete="false" />
    </header>
  </body>
  <script src="js/header.js"></script>
</html>
