<!DOCTYPE html>
<html>
  <head>
    <title>Web 安全演示</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <%- include('header'); -%>
    <main>
      <h1>没有找到与 <%- searchKey %> 相关的内容</h1>
    </main>
  </body>
</html>

<!-- <script src="http://localhost:3001/evil/transfer.js">alert(2)</script> -->
